@charset "utf-8";
/* CSS Document */

/* GENERAL STYLES */

:root {
	--text-color: #333333;
	--inverse: white;
	--active-color: #00B3DB;
	--hover-color: #69E4FF;
	--mark-color: #EBFBFF;
	--lightgrey: #999999;
	--background: #191919;
	--background-opacity: #191919E6;
}

/* Dark scrollbar to Photos */
.photos::-webkit-scrollbar {
	width: auto;
  }

.photos::-webkit-scrollbar-track {
	background: var(--background);
	}

.photos::-webkit-scrollbar-thumb {
	background: #777;
	border-radius: 100px;
	border: 4px solid var(--background);
	}

.photos::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

/* Filters */
.grayscale {
	filter: grayscale(100%);
}

.opacity {
	opacity: 0.4 !important;
}

html {
	height: 100%;
    margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	width: 100%;
	height: 100%;
    margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	position: absolute;
	-webkit-font-smoothing: antialiased;
}

a {
	color: var(--active-color);
	text-decoration: none;
	font-weight: 400;
	-webkit-transition:  .1s ease-in-out;
	transition: .1s ease-in-out;
	}

a:hover {
	color: var(--hover-color);
}

.svg-fill {
fill: #fff;
}

.svg-fill-stroke {
stroke: #fff;
}

a:hover .svg-fill{
fill:var(--hover-color);
}

a:hover .svg-fill-stroke{
	stroke:var(--hover-color);
}


.svg-fill, .svg-fill-stroke {
	-webkit-transition:  .2s ease-in-out;
	transition: .2s ease-in-out;
}

.white-link {
	color: var(--inverse);
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight: 400;
	color: var(--text-color);
	margin: 0 0 16px 0;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	line-height: 38px;
	color: var(--text-color);
	font-weight: 400;
	margin:32px 0 16px 0;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 38px;
	color: var(--text-color);
	font-weight: 400;
	margin:32px 0 16px 0;
}

p, li {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 30px;
    color: var(--text-color);
    font-weight: 300;
}

p {
	margin: 0px 0 24px 0;
}

li {
	margin: 0px 0 16px 0;
}

.semi-bold {
	font-weight: 400;
}


ul {
	list-style: none;
	padding-left: 46px;
}

ul li::before {
	content: "\2022";
	color: var(--active-color);
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
}

 ol {
	list-style: none;
	counter-reset: item;
	padding-left: 26px;
 }

 ol li {
	counter-increment: item;
 }

 ol li::before {
	padding-right: 4px;
	content: counter(item) '.' ;
	color: var(--active-color);
	width: 1em;
	text-align: center;
	font-weight: 500;
	display: inline-block;
 }

header {
	display: none;
}

mark {
	background-color:var(--mark-color);
}

lottie-player {
	--lottie-player-seeker-thumb-color: var(--active-color);
    padding-top: 40px;
    padding-bottom: 40px;
}


.desktop-hide {
	display: none;
}
	

/* INTRO TEXT */
p.intro {
	font-size: 22px;
	line-height: 30px;
	color: #4D4D4D;

}



/* CAROUSEL STYLES */
.mySlides {display: none}



	/* Slideshow container */
	.slideshow-container {
		box-sizing: border-box;
		max-width: 215px;
		width: 100%;
		position: absolute;
		margin: auto;
		bottom: 22%;
		left: 21%;
	}

	.slideshow-container img {
		vertical-align: middle;
		border-radius: 10px;
		border: solid 3px #313336;
	}

	/* Next & previous buttons */
	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 14px;
		margin-top: 48px;
		margin-left:348px;
		color: var(--active-color);
		font-weight: bold;
		font-size: 17px;
		transition: 0.6s ease;
	}

	/* Position the "next button" to the right */
	.next {
	left: 47px;

	}




	/* Caption text */
	.text {
		color: #f2f2f2;
		font-size: 16px;
		padding-bottom: 10px;
		position: absolute;
		bottom: 8px;
		width: 100%;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
	}

	/* The dots/bullets/indicators */
	.dot {
		cursor: pointer;
		height: 12px;
		width: 12px;
		margin: 4px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		position: relative;
		bottom: 1px;
		transition: background-color 0.6s ease;
	}

	.active, .dot:hover {
	  background-color: #717171;
	}

	/* Fading animation */
	.fade {
	  -webkit-animation-name: fade;
	  -webkit-animation-duration: 0.3s;
	  animation-name: fade;
	  animation-duration: 0.3s;
	}

	@-webkit-keyframes fade {
	  from {opacity: .0} 
	  to {opacity: 1}
	}

	@keyframes fade {
	  from {opacity: .4} 
	  to {opacity: 1}
	}

	.greyscale {
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
		transition: .4s;
	}

	.greyscale:hover {
		-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
		filter: grayscale(0%);
	}

	
/* STYLES FOR THE WORK SITE */

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.full-width-content {
	width: 100%;
	height: auto;
	position: relative;
	padding: 64px 0 40px 0;
}

.full-width-content > .work-content {
	padding: 32px 24px 0px 24px;
}

.hero { 
	height: 60%;
	width: 100%;
	background-image: url("/images/K-Ruoka_hero.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.team {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	grid-column-gap: 24px;
	margin-top: 24px;
	
}

.team-member {
	height: 150px;
}

.team-member-img {
	width: 70px;
	height: 70px;
	margin: auto;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	box-sizing: border-box;
	border: 1px solid #E8E8E8;
}

.team-member p {
	text-align: center;
	margin-top: 12px;
	font-size: 15px;
	line-height: 22px;
}

.results {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
 	grid-column-gap: 24px;
}

.four-inline {
	grid-template-columns: 1fr 1fr 1fr 1fr;

}

.result {
	text-align: left;
}

.result > div {
	padding: 16px 16px 16px 0px;
	box-sizing: border-box;
	border-radius: 16px;
}

.result h1 {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 0;
	color: var(--active-color);
	font-family: 'Fjalla One';
}

.result p {
	margin-top: 4px;
}

.grandOne {
	position: absolute;
	top: -16px;;
	right: -16px;
	border-radius: 200px;
	width: 90px;
	height: 90px;
	background: black;
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.8) ;
}

.grandOne svg {
	width: 49px;
	fill: white;
	display: block;
	margin: auto;
	padding-top: 16px;
}

.grandOne span {
	margin: auto;
	font-size: 12px;
	font-weight: 500;
	color: white;
}

hr 	{
	margin: auto;
	text-align: center;
	border: 0;
	padding: 0;
	margin-bottom: 16px;
	font-size: 32px;
	letter-spacing: 12px;
	color: var(--lightgrey);
}

hr::before {
	content: '. . .';
}

.tools {
	display: flex;
	overflow: auto;
	white-space: nowrap;
	position: relative;
	align-content:flex-start;
	align-items: flex-start;
	padding-bottom: 8px;
}


.tools::-webkit-scrollbar {
	display: none;}

.tools img, .tools span {
	max-height: 40px;
	height: 40px;
	padding: 0 10px 0 10px;
	display: inline-block;
}

.tools > :first-child {
	padding-left: 0;
}

.tools > span {
	font-weight: 600;
	text-transform: uppercase;
	color: #363636;
	text-align: center;
	width: auto;
	font-size: 13px;
}

.referenses {
	max-width: 900px;
	margin: 32px 24px 40px 24px;
}

.referenses p {
	max-width: 400px;
	margin: auto;
}

.logos {
	width: 100%;
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	max-width: 900px;
	margin: auto;
	padding-bottom: 40px;
	transition: .2s;
}

.logo img {
	height: 28px;
}

.logo {	
	margin: 24px;
	filter: brightness(0%);
	transition: .2s;
	height: 32px;
	justify-content: center;
	align-content: center;
}

.logos:hover .logo {
	filter: none;
}

.images-side-by-side {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	position: relative;
	align-content: center;
	align-items: center;
}

.fifty-percent-image-1 {
	flex-basis: 50%;
	box-sizing: border-box;
	align-items: center;
	padding:24px;
	margin:0;
}


.fifty-percent-image-2 {
	flex-basis: 50%;
	box-sizing: border-box;
	padding: 24px;
	align-items: center;
}


.work-content,.work-content-black h2 {
	margin: 16px 0 16px 0;
} 

.work-content img,video {
	margin: 16px 0 16px 0;
}

video {
	border: 0;
}

.read-more-background{
	background: white;
	padding-top: 1px;
	padding-bottom: 1px;
}

.read-more {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.read-more h2 {
	margin-left: 24px;
	
}

.work-content {
	text-align: left;
	max-width: 680px;
	margin: auto;
	padding-right: 24px;
	padding-left: 24px;
}

.work-content-black {
	text-align: left;
	max-width: 680px;
	margin: auto;
	padding-right: 24px;
	padding-left: 24px;
	color: white;
	position: relative;
}

.work-content-black p, .work-content-black h2 {
	color: white;
}

.work-content-white {
	text-align: left;
	max-width: 680px;
	margin: auto;
	padding-right: 24px;
	padding-left: 24px;
	position: relative;
	padding-bottom: 30px;
	padding-top: 10px;
	border-bottom: solid 1px #f4f4f4;
}


.work-content img, .work-content-black img {
	width: 100%;
	border-radius: 2px;
}

.color-container {
	height: 120px;
	display: flex;
	flex-direction: row;
  	align-items: center;
 	justify-content: center;
	margin: auto;
}

.color {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: rgba(229,229,229,.1) 1px solid;
	margin: 0px 10px 0px 10px;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
 	transition: all .2s ease-in-out;
	z-index: 2;
	
}

.color:hover {
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,1.0);
	transform: scale(1.3)}

.color#orange {
	background-color:#FF5F00;
}

.color#darkgrey {
	background-color: #25282A;
}

.color#lightgrey {
	background-color:#848484;
}

.color#white {
	background-color: white;
}

/* AVATAR */
.circle {
	width: 120px;
	height: 120px;
	background: grey;
	border-radius: 50%;
	background-size: cover;
	background-position: 50% 50%;
	margin: auto;
	border: solid #292929 2px;
	position: relative;
	background-image: url(../images/portraits/Toni_Kauppila_profile.jpg);
}

/* CTA BUTTONS */
.button {
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 400;
	display: block;
	text-align: center;
	line-height: 30px;
	width: 180px;
	padding: 8px 0px 8px 0px;
	border-radius: 200px;
	background: white;
	border: solid var(--text-color) 1px;
	color: var(--text-color);
	-webkit-transition:  0.1s ease-out;
	-moz-transition:  0.1s ease-out;
	-o-transition:  0.3s ease-out;
	transition:  0.1s ease-out;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.button:hover {
	box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
	background: #69E4FF15;
	color: var(--text-color) !important;
}

.button:active {
	background: #69E4FF25;
	color: var(--text-color) !important;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
}

.secondary-button {
	font-family: 'Open Sans';
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;
	line-height: 30px;
	padding: 15px 35px 15px 35px;
	background: none;
	color: white;
	-webkit-transition:  0.1s ease-out;
	-moz-transition:  0.1s ease-out;
	-o-transition:  0.1s ease-out;
	transition:  0.1s ease-out;
}


/* FORM STYLES */

form {
	box-sizing: border-box;
}

.form-elements {
	width: 80%;
	border: 0;
	color: var(--inverse);
	margin: auto;
}

.form-item {
	border: 0;
	margin: auto;
}

label {
	display: block;
	margin-bottom: 8px;
	font-weight: 300; 
	box-sizing: border-box;
}

input, textarea {
	width: 100%;
	box-sizing: border-box;
	display: block;
	border: 1px solid #484848;
	padding: 16px;
	border-radius: 4px;
	background: var(--background);
	color: var(--inverse);
	margin: 0;
	font-family: 'Open Sans';
	font-size: 16px;
	resize: none;
}

.form-button {
	background: none;
	border: 1px white solid;
	border-radius: 200px;
	width: 200px;
	height: 48px;
	margin: auto;
	text-align: center;
	color:white;
	display: block;
	margin-top: 24px;
	margin-bottom: 24px;
	font-family: 'Open Sans';
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all ease-in 0.2s;
}

.active {
	width: 48px;
	height: 48px;
	font-size: 0;
	border-left-color: transparent;
	animation: rotate 1.4s ease 0.2s infinite;
	border-right-color: var(--hover-color);
	border-top-color: var(--hover-color);
	border-bottom-color: var(--hover-color);
}

@keyframes rotate{
	0%{
		transform: rotate(-360deg);
	}
}

.active:hover {
	border-left-color: transparent !important; 
}

.form-button:hover {
	border-color: var(--hover-color);
	color: var(--hover-color);
}

.honeypot-field {
	display: none;
}

.thankyou_message h3 {
	color:var(--inverse);
	text-align: center;
	transition: all ease-in 0.2s;
}

/* MODAL STYLES */

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 9999; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: absolute;
	display: block;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	max-width: 600px;
	width: 100%;
	height: 80%;
	max-height: 680px;
	background-color: rgba(15,15,15,0.8);
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px); 
	margin: auto;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.3s;
	overflow: auto;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

@media screen and (max-height: 900px) {
	.modal-content {
		height: 100%;
	}
	
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal-content p {
	color: var(--inverse);	
	text-align: center;
	font-size: 16px;
	line-height: 22px;
}

.modal-image {
	margin: auto;
	margin-bottom: 16px;
	margin-top: 8px;
	max-width: 90px;
	max-height: 90px;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--hover-color);
  text-decoration: none;
  cursor: pointer;
}

/* FRONT PAGE */


/* HIDE MOBILE NAV IN DESKTOP */
.mobile-nav, #mobile-nav, #mobile-nav-fp {
	display: none;
}

/* FRONT PAGE FULL BACKGROUND */

.vertical-text {
	width: 100%;
	height: 100%;
	position: absolute;
}

.vertical-text span {
	position: absolute;
	left: 10px;
	top: 0;
	bottom: 0;
	writing-mode: vertical-lr;
	text-orientation: sideways;
	text-align: center;
	color:rgba(255,255,255,0.6);
	transform: rotate(180deg);
	font-size: 12px;
	letter-spacing: 1px;
}

.bg-parallax { 
	background-image: url("../images/portraits/Toni_Kauppila_2.png");
	background-size: cover;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
	position: absolute;
	top: 0;
}


.bg { 
    background-image: url("../images/portraits/Toni_Kauppila_1.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	z-index: 1;
	position: absolute;
	top: 0;
	width: 100%;
}


.go-down a {
  position: absolute;
  bottom: 80px;
  left: 50%;
  z-index: 9999;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Lato', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.go-down a:hover {
  opacity: .5;
}

#go-down-chevron a span {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: up-down 2s infinite;
  animation: up-down 2s infinite;
  animation-delay: 4s;
  box-sizing: border-box;
}
@-webkit-keyframes up-down {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
	transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
	transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
	transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes up-down {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}


.fp-content {
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: 1100px;
	padding-top:20px;
	padding-bottom:0px;
	position: relative; 
}


.fp-content-picture {
	flex-basis: 50%;
	margin: auto;
	color: grey;
	align-items: center;
	padding:16px;
	box-sizing: border-box;
}


.fp-content-picture-photos {
	flex-basis: 50%;
	margin: auto;
	color: grey;
	align-items: center;
	position: relative;
	background-image: url(../images/canon.jpg);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position:center;
	height: 450px;
}

.fp-content-picture img {
	width: 100%;
	margin: auto;
}

.fp-content-text {
	flex-basis: 50%;
	box-sizing: border-box;
	padding: 0px 60px 0 60px;
}

.fp-content-text p {
	margin-bottom: 0px;
}


.footer {
	position: relative;
	padding: 30px;
	margin: auto;
	margin-top: 80px;
	background: var(--background);
	display: block;
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
}


.footer-wrapper {
	max-width: 480px;
	height: 100%;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.footer-content {
	flex-basis: 100%;
	margin: auto;
	padding: 16px 16px 0 16px;
	text-align: center;
	color: white;
	line-height: 20px;
}

.footer-content p, .footer-content h3 {
	color: var(--inverse);
	opacity: 0.90;
}

.footer-content h3 {
	margin-top: 28px;
	margin-bottom:0px;
	font-weight: 400;
}

.footer-content h4 {
	margin-bottom:24px;
	margin-top: 4px;
	font-size: 18px;
	opacity: 0.6;
	font-weight: 300;
}


.footer-content p {
	margin-bottom: 16px;
}

.footer-image {
	flex-basis: 100%;
	position: absolute;
	top: -62px;
	left: 0;
	right: 0;
}

.fp-container {
	width: 500px;
	height: 90px;
	position:absolute;
	left:0; right:0;
	top:0; bottom:0;
	margin:auto;
	max-width:100%;
	max-height:100%;
	color: white;
}

.fp-container h1 {
	font-family:  'Fjalla One', sans-serif;
	font-size: 62px;
	line-height: normal;
	letter-spacing: 3px;
	text-align: center;
	margin: 0;
	color: white;
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.fp-container p {
	line-height: 26px;
	font-size: 20px;
	text-align: center;
	max-width: 390px;
	margin: auto;
	padding-bottom: 20px;
	color: white;
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	
}

.fp-nav {
	width: 420px;
	height: 60px;
	display: flex;
	position: relative;
	flex-direction: row;
	margin: auto;
	justify-content: center;
	}

.fp-nav-button {
	flex-basis: 33.33%;
	position: relative;
	-webkit-transition: background-color 0.3s ease-out;
	-moz-transition: background-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
	
}

.right-border{
	border-right: rgba(255,255,255, 0.2) solid 1px;
}

.left-border{
	border-left: rgba(255,255,255, 0.2) solid 1px;
}



.fp-nav-button-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
	font-size: 14px;
	padding: 0;
	width: 100%;
	text-shadow: 0 0 1px rgba(0,0,0,0.05);
}

.fp-nav-button-content svg {
	height: 42px;
}


.fp-social-media {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding: 10px 0px 0px 0px;
	text-align: center;
}

.some {
	transition: .2s ease-in-out;
}

svg:hover .some {
	opacity: 1;
	fill: var(--hover-color);
}

/* NAVIGATION */
#navbar {
	position: fixed;
	transition: top 0.4s;
	top: 0;
	width: 100%;
	margin: auto;
	height: 64px;
	background: var(--background-opacity);
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px); 
	border-bottom: 1px solid rgba(180,180,180,.04);
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 9998;
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
 	 
}

#navbar-front-page {
	position: absolute;
	transition: top 0.4s;
	top: 0;
	width: 100%;
	margin: auto;
	height: 64px;
	background:	linear-gradient(
		to bottom,
		hsla(0, 0%, 0%, 0.25) 0%,
		hsla(0, 0%, 0%, 0.247) 8.1%,
		hsla(0, 0%, 0%, 0.238) 15.5%,
		hsla(0, 0%, 0%, 0.224) 22.5%,
		hsla(0, 0%, 0%, 0.206) 29%,
		hsla(0, 0%, 0%, 0.185) 35.3%,
		hsla(0, 0%, 0%, 0.162) 41.2%,
		hsla(0, 0%, 0%, 0.137) 47.1%,
		hsla(0, 0%, 0%, 0.113) 52.9%,
		hsla(0, 0%, 0%, 0.088) 58.8%,
		hsla(0, 0%, 0%, 0.065) 64.7%,
		hsla(0, 0%, 0%, 0.044) 71%,
		hsla(0, 0%, 0%, 0.026) 77.5%,
		hsla(0, 0%, 0%, 0.012) 84.5%,
		hsla(0, 0%, 0%, 0.003) 91.9%,
		hsla(0, 0%, 0%, 0) 100%
	  );
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 9998;
}

.nav-wrapper {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	height: 64px;
	box-sizing: border-box;
	padding: 0 24px 0 24px;
}


.nav-content {
	flex-basis: 33.33%;
	color: white;
	margin: 6px 0 6px 0;
	text-align: center;
	justify-content: center;
	font-size: 16px;
	line-height: 12px;
	box-sizing: border-box;
/*	border-right: thin #2D2D2D solid;*/
	position: relative;
}

.nav-content-active {
	width: 100%;
	position: absolute;
	display: block;
	top: -26px;
	height: 2px;
	border-radius: 0 0 100px 100px;
	background-color: var(--hover-color);
}

.nav-content-active-blur {
	width: 100%;
	display: block;
	height: 3px;
	background-color: var(--hover-color);
	filter: blur(10px);
	opacity: 0.5;
		
}

.nav-content a {
	display: block;
	width: 100%;
	height: 100%;
}

.nav-content svg {
	height: 32px;
}

.nav-content:hover {
	color: var(--hover-color);
	cursor: pointer;
}

.nav-60-left {
	width: 70%;
	float: left;
	height: 64px;
	vertical-align: middle;
}

.nav-40-right {
	width: 30%;
	max-width: 360px;
	float: right;
	height: 64px;
	display: flex;
	text-align: right;
	flex-direction: row;
	justify-content: center;
	align-items: center;}



.title  {
	font-family: 'Fjalla One', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;
	letter-spacing: 2px;
	vertical-align: middle;
	line-height: 64px;
}



/* SPACER ON TOP */
.top-spacer {
	height: 64px;
}


.social-media {
	width: 100%;
	max-width: 400px;
	display: block;
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
	text-align: center;
}


/* SQUARE BG IMAGE */
.square {
	width: 100%; background-size: cover; background-position: center; 
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#wrapper {
	width:100%;
   	position:relative;
}

.mini-wrapper {
	width: 100%;
	max-width: 700px;
	margin: auto;
	padding-top: 30px; 
	box-sizing: border-box;
}


/* PHOTOS */
.menu-container {
    position: relative;
    text-align: center;
    color: rgba(255,255,255,0.90);
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	width: 100%;
	background-size:cover;
	background-position: center; 
}

#landscapes {
	background-position: 100% 100%;
}

.menu-container:after {
  content: "";
  display: block;
  padding-bottom: 33.3%;
}
	
.menu-text {
	position: absolute;
    bottom: 40px;
    left: 0;
	right: 0;

}

.menu-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: rgba(0,0,0,0.07);
}

.menu-overlay:hover {
  opacity: 1;
}


/* BACK TO TOP ICON */
#myBtn {
	display: none;
	position: fixed;
	bottom: 60px;
	right: 60px;
	z-index: 9997;
	font-size: 16px;
	border: none;
	outline: none;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	background: rgba(15,15,15,0.9);
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px); 
	color: white;
	cursor: pointer;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	transition: .2s;
	-webkit-transition: .2s;
}

#myBtn:hover {
  background: rgba(15,15,15,0.5);
}

/* Breadcrumb */
ul.breadcrumb {
  padding: 0px 0px;
  list-style: none;
	opacity: 0.8;
	transition: .2s;
}
ul.breadcrumb li {
  display: inline;
  font-size: 14px; 
  color: white;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: white;
	opacity: .3;
  content: "\276D";
}

ul.breadcrumb:hover {
	opacity: 1;
}

.empty-space {
	display: none;
}

@media screen and (max-width: 1100px) {
	
.nav-wrapper {
	padding: 0 0 0 16px;
}

.desktop-hide {
	display: inherit;
}
	
.fp-content-picture-photos {
	background-image: none;
}
	
.slideshow-container, .dot, .prev, .next, .fp-content-picture-photos  {
	display: none !important;
	overflow: hidden !important;
	width: 0!important;
	height: 0 !important;
}

nav {
	margin-right: 20px;
}
	
.nav-60-left, .nav-40-right {
	width: 50%;
}
	
}

@media screen and (max-width: 960px) {
	
.footer {
	margin-top: 80px;
}

#landscapes {
	background-position: center;
}
	
h1 {
	font-size: 32px;
	line-height: 38px;
}	

h2 {
	font-size: 28px;
	line-height: 34px;
}	
	
p, li {
	font-size: 18px;
	line-height: 28px;
}

.menu-container:after {
  content: "";
  display: block;
  padding-bottom: 50%;
}
	
/* Padding for mobile */
.mini-wrapper {
	padding: 20px 20px 0px 20px;
}
	
.inline-two, .inline-three {
	width: 100%;
	padding-bottom: 10px;
}
	
.go-down a {
  bottom: 70px;
}

	
}

@media screen and (max-width: 600px) {
	
.modal-content {
	height: 100%;
	max-height: 100%;
}
	
.form-elements {
	width: 100%;
}

.button {
	margin: auto;
}
	
.fp-container p {
	line-height: 24px;
	font-size: 18px;
	margin-top: -6px;
}

.results {
	grid-template-columns: 1fr;
}

	
	
header {
    width: 100%;
    background: rgb(62,62,62);
    background: linear-gradient(180deg, rgba(30,30,30,1) 0%, rgba(20,20,20,1) 100%);
    height: 56px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header div {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: 300;
	color: white;
	}	


.logo {
	margin: 16px;
	height: 24px;
}
	
.logo img {
	height: 24px;
}
	
.images-side-by-side {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	margin-bottom: 16px;
	position: relative;
	flex-wrap: wrap;
	text-align: center;
	margin: 0;
	padding: 0;
}

.fifty-percent-image-1, .fifty-percent-image-2 {
	flex-basis: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.fifty-percent-image-2 h2 {
	margin-top: 0;
}
	
#work {
	padding-top: 0px !important;

}
	
.mobile-gradient {
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9));
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 320px;
	z-index: -0.5;
}

.spotify-mobile {
	width: 100%;
	margin-top: 40px;
}
	
#myBtn {
	bottom: 84px;
	right: 24px;
	z-index: 9997;
	font-size: 12px;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
}	
	
.bg-parallax {
	background-image: none;
	display: none;
}

.bg {
	background-image:url(../images/portraits/Toni_Kauppila_3.jpg);
	background-size: 555px;
	position: relative;
	transition: all 0.1s;
}


.hero {
	background-size: 1000px;

}

.full-width-content{
	padding: 48px 0 24px 0;
}

.full-width-content > .work-content {
	padding: 24px 24px 0px 24px;
}
	
	
.slideshow-container, .dot, .prev, .next, .fp-content-picture-photos, #navbar, #navbar-front-page, .top-spacer  {
	display: none !important;
	overflow: hidden !important;
	width: 0!important;
	height: 0 !important;
}

	
.vertical-text {
	display: none;
}
	
.fp-nav {
	display: none !important;
}

#mobile-nav-fp {
  	bottom: -70px; /* Hide the navbar 50 px outside of the top view */
  	transition: bottom 0.3s; /* Transition effect when sliding down (and up) */
	width: 100%;
	height: 64px;
	background: rgba(25,25,25,0.95);
	position: fixed;
    padding: 0;
	border-top: 1px thin #313131;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.5);
	z-index: 9999;
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
	padding-bottom: env(safe-area-inset-bottom);
}
	
	#mobile-nav {
  	bottom: 0px; /* Hide the navbar 50 px outside of the top view */
  	transition: bottom 0.3s; /* Transition effect when sliding down (and up) */
	width: 100%;
	height: 64px;
	background: rgba(25,25,25,0.95);
	position: fixed;
    padding: 0;
	border-top: 1px thin #313131;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.5);
	z-index: 9999;
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
	padding-bottom: env(safe-area-inset-bottom);
}
	
.mobile-nav {
  	bottom: 0px;
  	transition: bottom 0.3s;
	width: 100%;
	height: 64px;
	background: rgba(25,25,25,0.95);
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.5);
	z-index: 9999;
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px); 
	padding-bottom: env(safe-area-inset-bottom);
}
	
.mobile-nav svg {
	height: 28px;
	margin-top: -4px;
}
	
	
#mobile-nav-fp svg {
	height: 28px;
	margin-top: -4px;
}

.mobile-nav > * {
    -webkit-transform: translateZ(0);
	transform: translateZ(0);
}
	
.mobile-nav a:hover {
	color: white;
}
	
#mobile-nav-fp a:hover {
	color: white;
}

.mobile-nav-content {
	flex-basis: 25%;
	color: white;
	margin: auto;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	border-right:1px #252525 solid;
}
	
.mobile-nav-content:nth-child(4n) {
	border-right:1px solid rgba(0,0,0,0.00);
}
	
.empty-space {
	height: 64px;
	background: #181818;
	width: 100%;
	display: block;
	padding-bottom: env(safe-area-inset-bottom);
}
	
.fp-content-picture, .fp-content-text, .fp-content-picture-photos {
	flex-basis: 100% !important;
}
	
.footer-wrapper {
	flex-direction: column;
}
	
.footer-content {
	text-align: center;
}
	
.fp-content-picture {
padding-right: 24px;
padding-left: 24px;
padding-top: 16px;
flex-basis: 100%;
box-sizing: border-box;
}
	
.fp-content-text {
	box-sizing: border-box;
	padding: 0px;
}
	
.fp-content {
	min-height: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	}
	
	
.menu-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
	
}
	
	
.fp-container {
    height: auto; 
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 70px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    color: white;
	padding: 0 20px 0 20px;
	box-sizing: border-box;
}
	
.fp-container h1 {
	font-family:  'Fjalla One', sans-serif;
	font-size: 50px;
	line-height: normal;
	letter-spacing: 4px;
	text-align: center;
	margin: 0;
	padding: 0px 0px 8px 0px;
	color: white;
	text-shadow: 0 0 1px rgba(0,0,0,0.05);
}

.fp-container p {
	width: 100%;
	max-width: 400px;
}
	
.mobile-screen-image {
	width: 75% !important;
}

	
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

.menu-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
	
}
