<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="scripts/main.js"></script>
<script data-cfasync="false" type="text/javascript" src="scripts/form-submission-handler.js"></script>
<script>function showInfo(selector) { document.querySelector(selector).classList.toggle("show"); }</script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.1/dist/lazyload.min.js"></script>
<script>(function(){ new LazyLoad({ threshold: 0, cancel_on_exit: true }); })();</script>
