---
layout: layout.njk
title: Toni Kauppila | Senior Product Designer
description: A Helsinkian Designer, who's passionate about stunning experiences, music, photography and all things visual.
isHome: true
skipTarget: "#main"
scriptGroup: home
bodyStyle: "background: transparent"
---
	<!-- Desktop nav ends -->

	<!-- Full size front page background  -->
	<div height="100%" style="height: 100%; position: relative;">
		<div class="vertical-text"><span>Photo: Juho Mäkelä &copy;</span>
		</div>

		<div class="rellax bg-parallax" data-rellax-speed="-5">
		</div>
		<div class="bg" data-aos="fade-zoom-in" data-aos-easing="ease-in-out" data-aos-offset="0" data-aos-once="true">
			<section class="mobile-gradient"></section>
			<div id="main" class="fp-container animated slideInUp">
				<h1>TONI KAUPPILA</h1>
				<p>Hello! I'm a Helsinkian Product Designer, who's passionate about stunning experiences, music and all
					things visual.</p>

			</div>
			<section id="go-down-chevron" class="go-down">
				<a href="#work"><span></span></a>
			</section>
		</div>
	</div>
	<!-- Full size front page background  -->

	<!-- Content starts -->
	<div id="work"
		style="width: 100%; background: white; margin: auto; position: relative; padding:24px; box-sizing: border-box;">
		<div class="fp-content">
			<div class="fp-content-picture">
				<a href="work"><img alt="Work" class="lazy" data-src="images/K-Ostokset.png"></a>
			</div>
			<div class="fp-content-text" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-offset="0"
				data-aos-once="true">

				<h1>Work</h1>

				<p>I create strongly user centric and aesthetic digital services. I'm currently working as a Senior
					Product Designer at Reaktor.

				</p>
				<br>

				<a class="button" href="work">Check my work</a>

			</div>
		</div>
		<div class="fp-content" style="flex-direction: row-reverse;">
			<div class="fp-content-picture desktop-hide">
				<a href="photos"><img alt="Photography" class="lazy" data-src="images/videos/canon.gif"></a>
			</div>
			<div class="fp-content-picture-photos lazy" data-bg="images/canon.jpg">
				<div class="slideshow-container">

					<div class="mySlides fade">
						<a href="photos">
							<img class="lazy" data-src="images/landscapes/landscape-1.jpg" alt="Landscapes"
								style="width:100%">
						</a>
					</div>

					<div class="mySlides fade">
						<a href="photos">
							<img class="lazy" data-src="images/landscapes/landscape-8.jpg"
								src="images/landscapes/landscape-1-lowQuality.jpg" alt="Portraits" style="width:100%">
						</a>
					</div>

					<div class="mySlides fade">
						<a href="photos">
							<img class="lazy" data-src="images/landscapes/landscape-9.jpg"
								src="images/landscapes/landscape-9-lowQuality.jpg" alt="Landscapes" style="width:100%">
						</a>
					</div>

					<div class="mySlides fade">
						<a href="photos">
							<img class="lazy" data-src="images/landscapes/landscape-13.jpg"
								src="images/landscapes/landscape-13-lowQuality.jpg" alt="Landscapes" style="width:100%">
						</a>
					</div>

				</div>

				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>

			</div>
			<div class="fp-content-text" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-offset="0"
				data-aos-once="true">


				<h1>Photos</h1>

				<p>
					I usually spend my holidays travelling and photographing landscapes and people. Once in a while I do
					some freelancing as well.</p>

				<br>

				<a class="button" href="photos">See photos</a>

			</div>
		</div>
	</div>
	<!-- Content ends -->

	<!-- Footer starts -->
	<div class="footer">
		<div class="footer-wrapper">
			<div class="footer-image">
				<div data-tippy-content="Yep, that's me!" rel="tooltip" class="circle"></div>
			</div>
			<div class="footer-content">
				<h3>Toni Kauppila</h3>
				<h4>Senior Product Designer</h4>
			</div>
		</div>
		<div class="fp-social-media">
			<a href="https://www.instagram.com/kauppilantoni/" title="Instagram" aria-label="Instagram" target="_blank">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
					y="0px" width="25" height="25" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;"
					xml:space="preserve">
					<g>
						<path class="some" opacity="0.70" fill="white" d="M25,8.9c5.3,0,6,0,8.1,0.1c2,0.1,3,0.4,3.7,0.7c0.9,0.4,1.6,0.8,2.3,1.5c0.7,0.7,1.1,1.4,1.5,2.3
				c0.3,0.7,0.6,1.8,0.7,3.7c0.1,2.1,0.1,2.7,0.1,8.1s0,6-0.1,8.1c-0.1,2-0.4,3-0.7,3.7c-0.4,0.9-0.8,1.6-1.5,2.3
				c-0.7,0.7-1.4,1.1-2.3,1.5c-0.7,0.3-1.8,0.6-3.7,0.7c-2.1,0.1-2.7,0.1-8.1,0.1s-6,0-8.1-0.1c-2-0.1-3-0.4-3.7-0.7
				c-0.9-0.4-1.6-0.8-2.3-1.5C10.2,38.6,9.8,38,9.4,37c-0.3-0.7-0.6-1.8-0.7-3.7c-0.1-2.1-0.1-2.7-0.1-8.1s0-6,0.1-8.1
				c0.1-2,0.4-3,0.7-3.7c0.4-0.9,0.8-1.6,1.5-2.3c0.7-0.7,1.4-1.1,2.3-1.5C13.9,9.4,15,9.1,16.9,9C19,8.9,19.7,8.9,25,8.9 M25,5.2
				c-5.4,0-6.1,0-8.2,0.1c-2.1,0.1-3.6,0.4-4.9,0.9c-1.3,0.5-2.4,1.2-3.5,2.3C7.2,9.7,6.6,10.8,6,12.1c-0.5,1.3-0.8,2.7-0.9,4.9
				C5,19.1,5,19.8,5,25.2c0,5.4,0,6.1,0.1,8.2c0.1,2.1,0.4,3.6,0.9,4.9c0.5,1.3,1.2,2.4,2.3,3.5c1.1,1.1,2.2,1.8,3.5,2.3
				c1.3,0.5,2.7,0.8,4.9,0.9c2.1,0.1,2.8,0.1,8.2,0.1s6.1,0,8.2-0.1c2.1-0.1,3.6-0.4,4.9-0.9c1.3-0.5,2.4-1.2,3.5-2.3
				c1.1-1.1,1.8-2.2,2.3-3.5c0.5-1.3,0.8-2.7,0.9-4.9c0.1-2.1,0.1-2.8,0.1-8.2s0-6.1-0.1-8.2c-0.1-2.1-0.4-3.6-0.9-4.9
				c-0.5-1.3-1.2-2.4-2.3-3.5c-1.1-1.1-2.2-1.8-3.5-2.3c-1.3-0.5-2.7-0.8-4.9-0.9C31.1,5.3,30.4,5.2,25,5.2L25,5.2z" />
						<path class="some" opacity="0.70" fill="white" d="M25,15c-5.7,0-10.3,4.6-10.3,10.3S19.3,35.5,25,35.5s10.3-4.6,10.3-10.3S30.7,15,25,15z M25,31.9
				c-3.7,0-6.7-3-6.7-6.7c0-3.7,3-6.7,6.7-6.7c3.7,0,6.7,3,6.7,6.7C31.7,28.9,28.7,31.9,25,31.9z" />
						<circle class="some" opacity="0.70" fill="white" cx="35.7" cy="14.6" r="2.4" />
					</g>
				</svg>
			</a>
			&nbsp;
			<a href="https://www.facebook.com/Thoun" title="Facebook" aria-label="Facebook" target="_blank">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
					y="0px" width="25" height="25" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;"
					xml:space="preserve">

					<path opacity="0.70" fill="white" class="some" d="M28.1,45.1V26.9h6.1l0.9-7.1h-7v-4.5c0-2,0.6-3.4,3.5-3.4l3.7,0V5.5c-0.6-0.1-2.9-0.3-5.5-0.3
			c-5.4,0-9.1,3.3-9.1,9.4v5.2h-6.1v7.1h6.1v18.2H28.1z" />
				</svg>
			</a>
			&nbsp;

			<a href="https://fi.linkedin.com/in/toni-kauppila" title="LinkedIn" aria-label="LinkedIn" target="_blank">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
					y="0px" width="25" height="25" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;"
					xml:space="preserve">

					<g>
						<g>
							<path class="some" opacity="0.70" fill="white" d="M42.4,5.3H8.2c-1.6,0-3,1.3-3,2.9v34.3c0,1.6,1.3,2.9,3,2.9h34.2c1.6,0,3-1.3,3-2.9V8.2
					C45.3,6.6,44,5.3,42.4,5.3z M17.1,39.5h-6V20.4h6V39.5z M14.1,17.8c-1.9,0-3.5-1.5-3.5-3.5c0-1.9,1.5-3.4,3.5-3.4
					c1.9,0,3.4,1.5,3.4,3.4C17.6,16.2,16,17.8,14.1,17.8z M39.4,39.5h-5.9v-9.3c0-2.2,0-5.1-3.1-5.1c-3.1,0-3.6,2.4-3.6,4.9v9.5h-5.9
					V20.4h5.7V23h0.1c0.8-1.5,2.7-3.1,5.6-3.1c6,0,7.1,4,7.1,9.1V39.5z" />
						</g>
						<g>
							<path class="some" opacity="0.70" fill="white" d="M47.5,38.8c0.2,0,0.3-0.1,0.3-0.3c0-0.2-0.1-0.3-0.4-0.3H47v1.1h0.2v-0.5h0.2l0,0l0.3,0.5h0.2L47.5,38.8
					L47.5,38.8z M47.4,38.7h-0.2v-0.4h0.2c0.1,0,0.3,0,0.3,0.2C47.7,38.6,47.5,38.7,47.4,38.7z" />
							<path class="some" opacity="0.70" fill="white" d="M47.4,37.6c-0.6,0-1.1,0.5-1.1,1.1c0,0.6,0.5,1.1,1.1,1.1c0.6,0,1.1-0.5,1.1-1.1C48.4,38.1,48,37.6,47.4,37.6
					z M47.4,39.6c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9c0.5,0,0.9,0.4,0.9,0.9C48.3,39.2,47.9,39.6,47.4,39.6z" />
						</g>
					</g>
				</svg>
			</a>
		</div>

		<div
			style="margin: auto; color: grey; text-align: center; padding-top:24px; font-size: 12px; line-height: 18px; width: 100%;">

			Desing and code by me<br>
			&copy; Toni Kauppila
			<script>document.write(new Date().getFullYear());</script>

		</div>
	</div>
	<!-- Footer ends -->

	<div class="empty-space"></div>

	<!-- Contact modal -->
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<div class="circle modal-image"></div>
			<div
				style="width: 100%; display: flex; flex-direction: column; box-sizing: border-box; align-items: center; padding: 16px 32px 32px 32px; gap: 24px">
				<p style="margin: 0px">Send me a direct message on your favorite social media!</p>
				<a href="https://www.linkedin.com/in/toni-kauppila" target="_blank"
					class="secondary-button-contact">LinkedIn</a>
				<a href="https://instagram.com/kauppilantoni?igshid=YmMyMTA2M2Y=" target="_blank"
					class="secondary-button-contact"> Instagram</a>
				<a href="http://m.me/Thoun" target="_blank" class="secondary-button-contact">Facebook</a>
			</div>
		</div>
	</div>

